[Unit]
Description=Restorecon maintaining path file context
Documentation=man:restorecond(8)
ConditionPathExists=/etc/selinux/restorecond.conf
ConditionSecurity=selinux

[Service]
Type=forking
ExecStart=/usr/sbin/restorecond
PIDFile=/run/restorecond.pid

[Install]
WantedBy=multi-user.target
