[Desktop Entry]
Name=File Context maintainer
Exec=/usr/sbin/restorecond -u
Comment=Fix file context in owned by the user
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=false
X-GNOME-HiddenUnderSystemd=true
