[Desktop Entry]
Name=SELinux Policy Generation Tool
Name[bn_IN]=SELinux Policy নির্মাণের সামগ্রী
Name[ca]=Eina de generació de polítiques del SELinux
Name[da]=Regelsætgenereringsværktøj til SELinux
Name[de]=Tool zur Erstellung von SELinux-Richtlinien
Name[es]=Generador de Políticas de SELinux
Name[fi]=SELinux-käytäntöjen generointityökalu
Name[fr]=Outil de génération de stratégies SELinux
Name[gu]=SELinux પોલિસી બનાવટ સાધન
Name[hi]=SELinux पॉलिसी जनन औजार
Name[it]=Tool di generazione della policy di SELinux
Name[ja]=SELinux ポリシー生成ツール
Name[kn]=SELinux ಪಾಲಿಸಿ ಉತ್ಪಾದನಾ ಉಪಕರಣ
Name[ko]=SELinux 정책 생성 도구
Name[ml]=SELinux പോളിസി ഉത്പാദന പ്രയോഗം
Name[mr]=SELinux करार निर्माण साधन
Name[nl]=SELinux tactiek generatie gereedschap
Name[or]=SELinux ନୀତି ସୃଷ୍ଟି ଉପକରଣ
Name[pa]=SELinux ਪਾਲਿਸੀ ਨਿਰਮਾਣ ਜੰਤਰ
Name[pl]=Narzędzie tworzenia polityki SELinuksa
Name[pt]=Ferramenta de Geração de Políticas SELinux
Name[pt_BR]=Ferramenta de criação de políticas do SELinux
Name[ru]=Средство создания политики SELinux
Name[sv]=Genereringsverktyg för SELinuxpolicy
Name[ta]=SELinux பாலிசி உற்பத்தி கருவி
Name[te]=SELinux నిర్వహణ
Name[uk]=Утиліта генерації правил SELinux
Name[zh_CN]=SELinux 策略生成工具
Name[zh_TW]=SELinux 政策產生工具（SELinux Policy Generation Tool）
Comment=Generate SELinux policy modules
Comment[bn_IN]=SELinux নিয়মনীতির মডিউল নির্মাণ করুন
Comment[ca]=Genera els mòduls de les polítiques de SELinux
Comment[da]=Generér SELinux-regelsætmodul
Comment[de]=Tool zur Erstellung von SELinux-Richtlinien
Comment[es]=Generar módulos de política de SELinux
Comment[fi]=Generoi SELinuxin käytäntömoduuleja
Comment[fr]=Génére des modules de stratégie SELinux
Comment[gu]=SELinux પોલિસી મોડ્યુલોને ઉત્પન્ન કરો
Comment[hi]=नया पॉलिसी मॉड्यूल उत्पन्न करें
Comment[it]=Genera moduli della politica di SELinux
Comment[ja]=新しいポリシーモジュールの作成
Comment[kn]=SELinux ಪಾಲಿಸಿ ಘಟಕಗಳನ್ನು ಉತ್ಪಾದಿಸು
Comment[ko]=SELinux 정책 모듈 생성
Comment[ml]=SELinux യ പോളിസി ഘങ്ങള്‍ തയ്യാറാക്കുക
Comment[mr]=SELinux करार घटके निर्माण करा
Comment[nl]=Maak een SELinux tactiek module aan
Comment[or]=SELinux ନୀତି ଏକକାଂଶ ସୃଷ୍ଟିକରନ୍ତୁ
Comment[pa]=SELinux ਪਾਲਿਸੀ ਮੈਡਿਊਲ ਬਣਾਓ
Comment[pl]=Tworzenie nowych modułów polityki SELinuksa
Comment[pt]=Gerar módulos de políticas SELinux
Comment[pt_BR]=Gerar módulos de política do SELinux
Comment[ru]=Генерация модулей политики SELinux
Comment[sv]=Generera SELinux-policymoduler
Comment[ta]=SELinux கொள்கை தொகுதியை உருவாக்கவும்
Comment[te]=SELinux పాలసీ మాడ్యూళ్ళను వుద్భవింపచేయుము
Comment[uk]=Створення модулів контролю доступу SELinux
Comment[zh_CN]=生成 SELinux 策略模块
Comment[zh_TW]=產生 SELinux 政策模組
StartupNotify=true
Icon=system-config-selinux
Exec=/usr/bin/selinux-polgengui
Type=Application
Terminal=false
Categories=System;Security;
X-Desktop-File-Install-Version=0.2
