[Desktop Entry]
Name=SELinux Management
Name[bn_IN]=SELinux পরিচালনা
Name[da]=Håndtering af SELinux
Name[de]=SELinux-Management
Name[ca]=Gestió de SELinux
Name[es]=Administración de SELinux
Name[fi]=SELinuxin ylläpito
Name[fr]=Gestion de SELinux
Name[gu]=SELinux સંચાલન
Name[hi]=SELinux प्रबंधन
Name[jp]=SELinux 管理
Name[it]=Gestione di SELinux
Name[kn]=SELinux ವ್ಯವಸ್ಥಾಪನೆ
Name[ko]=SELinux 관리
Name[ml]=SELinux മാനേജ്മെന്റ്
Name[mr]=SELinux मॅनेजमेंट
Name[nl]=SELinux beheer
Name[or]=SELinux ପରିଚାଳନା
Name[pa]=SELinux ਮੈਨੇਜਮੈਂਟ
Name[pl]=Zarządzanie SELinuksem
Name[pt_BR]=Gerenciamento do SELinux
Name[pt]=Gestão de SELinux
Name[ru]=Управление SELinux
Name[sv]=SELinux-hantering
Name[ta]=SELinux மேலாண்மை
Name[te]=SELinux నిర్వహణ
Name[uk]=Керування SELinux
Name[zh_CN]=SELinux 管理
Name[zh_TW]=SELinux 管理
Comment=Configure SELinux in a graphical setting
Comment[bn_IN]=গ্রাফিক্যাল পরিবেশে SELinux কনফিগার করুন
Comment[ca]=Configura SELinuc an mode de preferències gràfiques
Comment[da]=Konfigurér SELinux i et grafisk miljø
Comment[de]=SELinux in einer grafischen Einstellung konfigurieren
Comment[es]=Defina SELinux en una configuración de interfaz gráfica
Comment[fi]=Tee SELinuxin asetukset graafisesti
Comment[fr]=Configure SELinux dans un environnement graphique
Comment[gu]=ગ્રાફિકલ સુયોજનમાં SELinux ને રૂપરેખાંકિત કરો
Comment[hi]=SELinux को आलेखी सेटिंग में विन्यस्त करें
Comment[it]=Configura SELinux in una impostazione grafica
Comment[jp]=グラフィカルな設定画面で SELinux を設定する
Comment[ko]=SELinux를 그래픽 사용자 인터페이스로 설정
Comment[kn]=SELinux ಅನ್ನು ಒಂದು ಚಿತ್ರಾತ್ಮಕ ಸಿದ್ದತೆಯಲ್ಲಿ ಸಂರಚಿಸಿ
Comment[ml]=ഒരു ഗ്രാഫിക്കല്‍ സജ്ജീകരണത്തില്‍ SELinux ക്രമീകരിയ്ക്കുക
Comment[mr]=ग्राफिकल सेटिंगमध्ये SELinux संरचीत करा
Comment[nl]=Configureer SELinux in een grafische omgeving
Comment[or]=SELinux କୁ ଆଲେଖିକ ସଂରଚନାରେ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=SELinux ਨੂੰ ਗਰਾਫੀਕਲ ਸੈਟਿੰਗ ਵਿੱਚ ਸੰਰਚਿਤ ਕਰੋ
Comment[pl]=Konfiguracja SELinuksa w trybie graficznym
Comment[pt]=Configurar o SELinux num ambiente gráfico
Comment[pt_BR]=Configure o SELinux em uma configuração gráfica
Comment[ru]=Настройка SELinux в графическом режиме
Comment[sv]=Konfigurera SELinux i en grafisk miljö
Comment[ta]=SELinuxஐ ஒரு வரைகலை அமைவில் கட்டமைக்கவும்
Comment[te]=SELinuxను గ్రాఫికల్ అమర్పునందు ఆకృతీకరించుము
Comment[uk]=Засіб для налаштування SELinux з графічним інтерфейсом
Comment[zh_CN]=在图形设置中配置 SELinux
Comment[zh_TW]=在圖形話設定中配置 SELinux
StartupNotify=true
Icon=system-config-selinux
Exec=/usr/bin/system-config-selinux
Type=Application
Terminal=false
Categories=System;Security;
X-Desktop-File-Install-Version=0.2
