[Unit]
Description=Translates SELinux MCS/MLS labels to human readable form
Documentation=man:mcstransd(8)
ConditionSecurity=selinux
DefaultDependencies=no
Before=shutdown.target sysinit.target
Conflicts=shutdown.target

[Service]
ExecStart=/sbin/mcstransd -f
RuntimeDirectory=setrans
RuntimeDirectoryPreserve=true

[Install]
WantedBy=multi-user.target
