[Desktop Entry]
Name=File Context maintainer
Exec=/usr/sbin/restorecond -u
Comment=Fix file context in owned by the user
Encoding=UTF-8
Type=Application
StartupNotify=false
