[Unit]
Description=Restorecon maintaining path file context
After=syslog.target
ConditionPathExists=/etc/selinux/restorecond.conf

[Service]
Type=oneshot
ExecStart=/usr/sbin/restorecond
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
