utils/avcstat
utils/compute_av
utils/compute_create
utils/compute_member
utils/compute_relabel
utils/compute_user
utils/getconlist
utils/getdefaultcon
utils/getenforce
utils/getfilecon
utils/getpidcon
utils/getsebool
utils/getseuser
utils/matchpathcon
utils/policyvers
utils/selinux_check_securetty_context
utils/selinuxenabled
utils/setenforce
utils/setfilecon
utils/togglesebool
