avcstat
compute_av
compute_create
compute_member
compute_relabel
compute_user
getconlist
getdefaultcon
getenforce
getfilecon
getpidcon
getsebool
getseuser
matchpathcon
policyvers
sefcontext_compile
selinux_check_securetty_context
selinuxenabled
selinuxexeccon
setenforce
setfilecon
togglesebool
