avcstat
compute_av
compute_create
compute_member
compute_relabel
compute_user
getconlist
getdefaultcon
getenforce
getfilecon
getpidcon
getpidprevcon
getpolicyload
getsebool
getseuser
matchpathcon
policyvers
sefcontext_compile
selabel_compare
selabel_digest
selabel_get_digests_all_partial_matches
selabel_lookup
selabel_lookup_best_match
selabel_partial_match
selinux_check_securetty_context
selinuxenabled
selinuxexeccon
setenforce
setfilecon
togglesebool
selinux_check_access
validatetrans
